.container {
  // padding: 0 2rem;
  // background: #e0eafc; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #e0eafc,
  //   #cfdef3
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #e0eafc, #cfdef3);
  // background: rgb(223,221,221);
  // background: linear-gradient(90deg, rgba(223,221,221,1) 0%, rgba(227,232,231,1) 26%, rgba(225,236,232,1) 49%, rgba(213,247,244,1) 100%, rgba(255,255,255,1) 130%);
  background-image: linear-gradient(74deg, #c9ddff, #d3e7f5, #ddf2eb, #e5fce0);
  // background-image: linear-gradient(334deg, #94afd4, #b2c9e2, #d0e4f1, #eeffff)
  // background-image: linear-gradient(332deg, #bbc3cf, #d1d7df, #e8ebef, #ffffff)
  // background-image: linear-gradient(313deg, #b5c1d3, #cdd5e2, #e6eaf0, #ffffff)
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


